<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>

        
    </head>
    
<body>
    <div><a href="/blog">All Blogs</a> &nbsp;&nbsp;&nbsp;
        <a href="/newpost">Make a new Blog</a> &nbsp;&nbsp;&nbsp;
        <a href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;
        <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;
        <a href="/">Home</a>&nbsp;&nbsp;&nbsp;
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}


    {% block content %}
    {% endblock %}
</body>
</html>