{% extends "base.html" %}

{% block content %}
<h1 align="center">All Blogs </h1>
<form action="/blog" method="POST"></form>
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        {% for blog in blogs %}
        <a href="?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
        <p>{{blog.body}}</p>
        {% for author in authors %}
        {% if author.id == blog.owner_id %}
        <p><em>Written By: <a href="/blog?user={{author.username}}">{{author.username}}</a></em></p>
        <hr />

        {% endif %}
        {% endfor %}
        {% endfor %}
{% endif %}
{% endblock %}