{% extends "base.html" %}



{% block content %}

<h1 align="center">Create a new Blog</h1>
    <form action="/newpost" method='post'>
            <p><label for="title">Title of your Blog:</label>
                <input type="text" name="title" />
                <span class="error">{{title_error}}</span>
            </p>
            <label for="body">Blog Content:</label>
                <p><textarea rows="10" cols="70" name='body'></textarea>
                    <span class="error">{{body_error}}</span>
            </p>
        <input type="submit" value='Add Blog' />
        
    </form>

{% endblock %}